@import "variables";

.filter-field__wrapper {
  background: rgba(0, 0, 0, .5);
  box-sizing: border-box;
  padding: 20px 30px;
  width: $filter-field-width;
  position: relative;
  margin: $header-height + 50px 330px 0;
  border-radius: 20px 20px 0 0;
  opacity: 0;

  h2 {
    text-align: center;
    margin: 0;
  }

  input {
    width: 100%;
    box-sizing: border-box;
    margin: 20px 0 40px;
    padding: 10px 95px 10px 15px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, .7);
    outline: none;
  }

  button {
    position: absolute;
    padding: 10px 15px;
    border-radius: 0 8px 8px 0;
    border: none;
    top: 48px;
    right: 25px;
    background: $dark-green;
    color: $page-color;
    outline: none;
    cursor: pointer;
  }

  p {
    text-align: center;
    margin: 0;
    padding-bottom: 40px;
    font-size: 24px;
    color: #ff0000;
  }
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}